<!DOCTYPE HTML>
<html>

<head>
<title>Picture to Text</title>
    
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div>
  <nav>
    <div class="w3-bar w3-brown">
    <a href="https://cst205-proj3-swiftpaws.c9users.io/templates/index.html" class="w3-bar-item w3-button">Home</a>
  </nav> 
</div>
    


<link rel="stylesheet"  href="stylesman.css" type="text/css" media="screen">



</head>

<body>
 <h1><i>Picture to Text</h1></i>

<div class = "div1"> 
<button class = "button"style="vertical-align:middle"><span>Upload </span></button>
  
</div>

 
  <footer>Copyright &copy; Group 242</footer>
    

</body>

    
    
</html>

